---
---
@charset "utf-8";
// Your custom css /scss here

.post-index-img {
    min-height: 300px;
    background-position: center;
    background-size: cover;
 //   background-attachment: ;
}

/* hover */

a.hover1:link {text-decoration: none;}
a.hover1:visited {text-decoration: none;}
a.hover1:hover {text-decoration: none; color:inherit}
a.hover1:active {text-decoration: none;}

a.hover2:link {text-decoration: none; color: blue}
a.hover2:visited {text-decoration: none; color: blue}
a.hover2:hover {color: DodgerBlue}
a.hover2:active {}

a.hover3:link {text-decoration: none;}
a.hover3:visited {text-decoration: none;}
a.hover3:hover {color: inherit; text-decoration: underline}
a.hover3:active {}


.box {
    position: relative;
    animation: up-down 1s infinite;
    animation-direction: alternate;
  }
  
  @keyframes up-down {
    0% {bottom: -5px;}
    50% {bottom: 5px;}
    100% {bottom: -5px;}
  }


.image-container {
    display: flex; /* Use flexbox to align images */
  }

.image-container a {
    margin-right: 1em; /* Add right margin to create space between images */
    margin-top: 1em;
  }

.image-container img {
    width: 70px; /* Adjust the width as per your requirement */
    height: 70px; /* Set the height to maintain aspect ratio */
  }